For this tutorial I am going to cover some of the most common Wordpress functions that developers use on a regular basis.
<h2>Header Tags</h2>
Display the blog name

[code language="php"]&lt;?php bloginfo('name'); ?&gt;[/code]

Display the blog url

[code language="php"]&lt;?php bloginfo('url'); ?&gt;[/code]

The stylesheet location

[code language="php"]&lt;?php bloginfo('stylesheet_url'); ?&gt;[/code]

The location of the theme files directory

[code language="php"]&lt;?php bloginfo('template_directory'); ?&gt;[/code]

The atom url for the blog

[code language="php"]&lt;?php bloginfo('atom_url'); ?&gt;[/code]

Display the Rss2 url for the blog

[code language="php"]&lt;?php bloginfo('rss2_url'); ?&gt;[/code]

The charset of the blog

[code language="php"]&lt;?php bloginfo('charset'); ?&gt;[/code]

Pingback url of the blog

[code language="php"]&lt;?php bloginfo('pingback_url'); ?&gt;[/code]

Wordpress version of the blog

[code language="php"]&lt;?php bloginfo('version'); ?&gt;[/code]

HTML version of the website

[code language="php"]&lt;?php bloginfo('html_type'); ?&gt;[/code]
<h2>Template Tags</h2>
Display the page title

[code language="php"]&lt;?php the_title(); ?&gt;[/code]

Display the content

[code language="php"]&lt;?php the_content(); ?&gt;[/code]

Display the exerpt

[code language="php"]&lt;?php the_exerpt(); ?&gt;[/code]

Display the published date

[code language="php"]&lt;?php the_date(); ?&gt;[/code]

Display the published time

[code language="php"]&lt;!--?php the_time(); ?--&gt;[/code]

Display the category

[php][/php]<?php the_category(); ?>[/code]

Display the url link for the page/post

[php][/php]<?php the_permalink(); ?>[/code]

Display the number ID of the post

[code language="php"]&lt;?php the_ID(); ?&gt;[/code]

Display the author of the post

[code language="php"]&lt;?php the_author(); ?&gt;[/code]

Display the previous page and next page links

[code language="php"]&lt;?php posts_nav_link(); ?&gt;[/code]

Display the newer posts link

[code language="php"]&lt;?php next_post_link(); ?&gt;[/code]

Display the previous posts link

[php][/php]<?php previous_post_link(); ?>[/code]

Display a link to edit the post

[code language="php"]&lt;?php edit_post_link(__('Edit Post')); ?&gt;[/code]

Display the search form value

[code language="php"]&lt;?php the_search_query(); ?&gt;[/code]

Display the pages

[code language="php"]&lt;?php wp_list_pages(); ?&gt;[/code]

Display the tag cloud

[code language="php"]&lt;?php wp_tag_cloud(); ?&gt;[/code]

Display the categories

[code language="php"]&lt;?php wp_list_cats(); ?&gt;[/code]

Display the calendar

[code language="php"]&lt;?php get_calendar(); ?&gt;[/code]

Display the archives by date

[code language="php"]&lt;?php wp_get_archives(); ?&gt;[/code]

Display the blogroll link

[code language="php"]&lt;?php get_links_list(); ?&gt;[/code]

Display a register link

[code language="php"]&lt;?php wp_register(); ?&gt;[/code]

Display a login/logout link

[code language="php"]&lt;?php wp_loginout(); ?&gt;[/code]

Displays the admin meta

[code language="php"]&lt;?php wp_meta(); ?&gt;[/code]

<h2>Summary</h2>

These are the most common Template tags used in Wordpress Development. It is not intended to be a complete list of Wordpress functions, just the common ones for someone just getting started developing with Wordpress.

Many of the template tags are meant to be used within the Wordpress loop but I have also included some like login/logout, calendar and some other ones that are commonly placed in the sidebar or footer.